.tc_container {
    padding: 36px 0;
    display: flex;
    flex-direction: column;    
    gap: 16px;
    scroll-margin-top: 74px;
}

.tc_header {
    display: flex;
    flex-direction: column;    
    gap: 16px;    
}

.tc_title {
    font-weight: 700;
    font-size: 32px;    
}

.tc_link {
    display: flex;
    flex-direction: row;    
    gap: 12px;    
}


@media only screen and (min-width: 768px) {

    .tc_link {
        display: none;
    }
}

@media only screen and (min-width: 1440px) {

    .tc_title {
        font-size: 40px;
    }

    .tc_header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;        
    }

    .tc_link {
        display: flex;
    }
}