.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  border-radius: 64px;
  width: 100%;
  height: 32px;
  padding: 4px 8px;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  background-color: #649179;
  transition: all 200ms ease-in-out;
}

.button svg {
  display: block;
  stroke: currentColor;
  width: 24px;
  height: 24px;
}

.fill:hover {
  color: #f7fffb;
  background-color: #374f42;
}

.fill:focus-visible {
  box-shadow: 0 0 0 6px #4e46b41f, 0 0 0 2px #fff;
}

.fill:disabled {
  box-shadow: 0 0 0 6px #4e46b41f, 0 0 0 2px #fff;
  opacity: 0.3;
}

.md {
  gap: 8px;
  height: 38px;
  padding: 8px;
  font-size: 16px;
}

.lg {
  gap: 12px;
  height: 46px;
  padding: 12px 16px;
  font-size: 16px;
}

.xl {
  gap: 16px;
  height: 57px;
  padding: 16px;
  font-size: 18px;
}

.outline {
  background-color: transparent;
  border: 1px solid currentColor;
}

.outline:hover {
  background-color: #a8c7b5;
}

.outline:focus-visible {
  border-color: transparent;
  box-shadow: 0 0 0 6px #4e46b41f, 0 0 0 2px #fff;
}

.outline.green {
  color: #374f42;
}

.outline.black {
  color: #070721;
}

.link {
  border: none;
  padding-inline: 0;
  color: #374f42;
  background-color: transparent;
}

.link:hover,
.link:focus-visible {
  opacity: 0.5;
}

.link:disabled {
  opacity: 0.2;
}

.link:active {
  border-bottom: 1px solid #374f42;
}
