.innerContainer{
    padding-top: 36px;
    padding-bottom: 36px;

    scroll-margin-top: 74px;
}

.titleContainer{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 16px;    
}

.title{
    font-weight: 700;
    min-width: 309px;
    font-size: 32px;
    line-height: 1.38;
}

.loader{
    margin-left: 50%;
}


@media only screen and (min-width: 768px) {
    .titleContainer{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .linkContainer{
        margin-left: -16px;
    }
    .linkContainer{
        margin-left: 0;
    }
}

@media only screen and (min-width: 1440px) {
    .title{
        font-weight: 700;
        font-size: 40px;
    }

}