.up_form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.up_container {
    width: 360px;
    height: 322px;
    background-color: #d1e0d8;
    padding: 32px;
    margin-top: 128px;
    margin-bottom: 128px;
    border-radius: 32px;
    position: relative;
    display: flex;
    flex-direction: column;
}


.up_header {
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    margin: 0;
}

.up_inner_container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.up_submit_btn {
    border-radius: 64px;
    padding: 8px;
    width: 296px;
    height: 38px;
    color: #f7fffb;
    font-weight: 700;
    font-size: 16px;
    background-color: #649179;
    transition: all 200ms ease-in-out;
}

.up_submit_btn:hover {
    background-color: #374f42;
}

.up_submit_btn:focus {
    box-shadow: 0 0 0 6px rgba(78, 70, 180, 0.12), 0 0 0 2px #fff;
}

.up_submit_btn:disabled {
    box-shadow: 0 0 0 6px rgba(78, 70, 180, 0.12), 0 0 0 2px #fff;
    opacity: 0.3;
    cursor: not-allowed;
}

.up_image_upload {
    border-radius: 128px;
    width: 136px;
    height: 136px;
    object-fit: cover;
}

.up_image_upload:hover {
    cursor: pointer;
}

.up_close_button {
    position: absolute;
    top: 16px;
    right: 16px;
}

@media only screen and (min-width: 768px) {
    .up_container {
        width: 522px;
        height: 354px;
        padding: 48px 32px;
        margin-top: 136px;
        margin-bottom: 136px;
    }

    .up_submit_btn {
        width: 458px;
    }
}

@media only screen and (min-width: 1440px) {
    .up_container {
        width: 392px;
        padding: 48px 32px;
        margin-top: 189px;
        margin-bottom: 189px;
    }

    .up_submit_btn {
        width: 328px;
    }
}